<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation email</title>
</head>
<body>
  <style>
  * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  body {
    margin: 0;
    font-size: 18px;
    background-color: #E5E9F0;
  }
  header {
    width: 100vw;
    margin:0;
    background-color: #4c6793;
    color: #5c2e7e;
    padding: 1rem;
    display: flex;
  }
  #picture {
    width: 10rem;
  }
  .email-content {
    margin: 0.5rem;
  }
  .after-greeting {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .bottom-notice {
    font-size: 0.8rem;
    color:#696969;
  }

  .title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
  }
</style>
<header>
  <img src="link-to-a.picture"
    alt="picture" id="picture"
  >
  <h1 class='title'>nestjs-template</h1>
</header>
<div class="email-content">
  <p>Hey {{name}}, thanks for signing up to nestjs-template!</p><br>
  <div class="after-greeting">
    <p>Please click below to confirm your email address:</p><br>

    <a href="{{url}}">Confirm</a><br>

    <p class="bottom-notice">If you did not request this email you can safely ignore it.</p><br>
  </div>
</div>
</body>
</html>